@model PasswordChangeViewModel

@{
    ViewData["Title"] = "SingUp";
}

@section Scripts{

    @await Html.PartialAsync("_ValidationScriptsPartial")
}


<div class="row">
    <div class="col-md-6 offset-md-3">
        @if (TempData["SuccessMessage"] != null)
        {
            <div class="alert alert-info" role="alert">
                @TempData["SuccessMessage"]
            </div>
        }

        <div asp-validation-summary="ModelOnly" class="alert alert-danger" role="alert">
        </div>

        <h4>Şifre Değiştirme</h4>


        <form asp-action="PasswordChange" asp-controller="Member" method="post">
                    <h2>Kullanıcı Şifre Değiştirme</h2>

            <div class="row mb-3">
                <label for="" class="col-md-4 col-form-label" asp-for="PasswordOld"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordOld" class="form-control">
                    <span asp-validation-for="PasswordOld" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="" class="col-md-4 col-form-label" asp-for="PasswordNew"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordNew" class="form-control">
                    <span asp-validation-for="PasswordNew" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <label for="PasswordConfirm" class="col-md-4 col-form-label" asp-for="PasswordNewConfirm"></label>
                <div class="col-md-8">
                    <input asp-for="PasswordNewConfirm" class="form-control">
                    <span asp-validation-for="PasswordNewConfirm" class="text-danger"></span>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-md-8 offset-md-4">
                    <button type="submit" class="btn btn-primary">Şifreyi Yenile</button>
                </div>
            </div>

        </form>
    </div>
</div>